<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{fragments/head :: head-css}"></th:block>
	<title>Add New User</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: headerNav}"></div>
<div class="container">

	<div class="row">
		<h2>Add New User</h2>
	</div>

	<div class="row">
		<form action="#" class="form-horizontal" method="post" style="width: 100%" th:action="@{/user/validate}"
		      th:object="${user}">

			<div class="form-group">
				<label class="col-sm-2 col-form-label" for="fullname">Full Name</label>
				<div class="col-sm-10">
					<input class="col-4" id="fullname" placeholder="Full Name" th:field="*{fullname}" type="text">
					<p class="text-danger" th:errors="*{fullname}" th:if="${#fields.hasErrors('fullname')}"></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 col-form-label" for="username">User Name</label>
				<div class="col-sm-10">
					<input class="col-4" id="username" placeholder="User Name" th:field="*{username}" type="text">
					<p class="text-danger" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 col-form-label" for="password">Password</label>
				<div class="col-sm-10">
					<input class="col-4" id="password" placeholder="Password" th:field="*{password}" type="password">
					<p class="text-danger" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 col-form-label" for="confirmPassword">Password</label>
				<div class="col-sm-10">
					<input class="col-4" id="confirmPassword" placeholder="Confirm Password"
					       th:field="*{confirmPassword}" type="password">
					<p class="text-danger" th:errors="*{confirmPassword}"
					   th:if="${#fields.hasErrors('confirmPassword')}"></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 col-form-label" for="password">Role</label>
				<div class="col-sm-10">
					<label class="checkbox-inline"><input th:field="*{role}" th:value="ADMIN" type="radio">Admin</label>
					<label class="checkbox-inline"><input th:field="*{role}" th:value="USER" type="radio">User</label>
					<p class="text-danger" th:errors="*{role}" th:if="${#fields.hasErrors('role')}"></p>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<a class="btn btn-danger btn-sm" th:href="@{/user/list}">Cancel</a>
					<input class="btn btn-primary btn-sm" type="submit" value="Add user">
				</div>
			</div>
		</form>
	</div>
</div>

<div th:replace="~{fragments/footer :: scripts}"></div>
</body>
</html>